In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('M&M.BO.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-04,127.224998,142.462494,124.000000,137.449997,104.768829,1800384.0
1,2009-05-05,137.250000,137.250000,127.750000,133.387497,101.672264,626584.0
2,2009-05-06,134.000000,134.500000,129.024994,132.850006,101.262589,1177800.0
3,2009-05-07,133.787506,134.975006,127.574997,129.087494,98.394661,890452.0
4,2009-05-08,128.000000,131.225006,121.687500,123.562500,94.183334,680736.0

In [3]:
data.shape

(2639, 7)

In [4]:
data = data.drop('Adj Close',axis=1)
data = data.dropna()

In [5]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [6]:
train_data = data[(data['Date'] >= '2009-05-04') & (data['Date'] <= '2017-04-03')]
test_data = data[(data['Date'] >= '2017-04-04') & (data['Date'] <= '2020-01-04')]

In [7]:
X_train = train_data[['Open','High','Low','Volume']]
y_train= train_data['Close']
X_test = test_data[['Open','High','Low','Volume']]
y_test= test_data['Close']

In [8]:
# from sklearn.model_selection import train_test_split
# X_train , X_test , y_train , y_test = train_test_split(X ,y , random_state = 0)

In [9]:
X_train.shape

(1954, 4)

In [10]:
X_test.shape

(674, 4)

In [11]:
from sklearn. linear_model import LinearRegression
from sklearn .metrics import confusion_matrix, accuracy_score
lr = LinearRegression()

In [12]:
lr.fit(X_train,y_train)

LinearRegression()

In [13]:
lr.coef_

array([-5.40129884e-01,  8.09284018e-01,  7.30292759e-01,  1.38453059e-07])

In [14]:
lr.intercept_

-0.2946293777013125

In [15]:
y_pred = lr.predict(X_test)

In [16]:
X_test

            Open        High         Low     Volume
1962  642.750000  647.474976  635.049988  1199602.0
1963  648.750000  648.750000  638.000000   102856.0
1964  644.974976  646.500000  635.000000    80714.0
1965  642.500000  642.500000  634.000000    68230.0
1966  639.000000  642.500000  635.000000    79482.0
...          ...         ...         ...        ...
2634  532.900024  538.799988  531.650024   123258.0
2635  538.799988  538.799988  530.400024    65928.0
2636  534.400024  537.750000  529.599976    90459.0
2637  537.000000  540.950012  533.450012   127766.0
2638  540.650024  540.650024  530.500000    79676.0

[674 rows x 4 columns]

In [17]:
y_pred.shape

(674,)

In [18]:
dframe=pd.DataFrame(y_test, y_pred)

In [19]:
dfr = pd.DataFrame({'Actual Price':y_test ,'Predicted Price' :y_pred})

In [20]:
dfr

      Actual Price  Predicted Price
1962    645.000000       640.466534
1963    644.200012       640.260136
1964    638.025024       638.284306
1965    640.299988       635.651957
1966    640.750000       638.274263
...            ...              ...
2634    536.500000       536.189590
2635    531.450012       532.082039
2636    536.599976       533.027980
2637    539.900024       537.030193
2638    532.650024       532.654900

[674 rows x 2 columns]

In [21]:
lr.score(X_test,y_test)

0.9984679393825504

In [22]:
import math

In [23]:
print('Mean Absolute Error: ' ,metrics.mean_absolute_error(y_test,y_pred))

Mean Absolute Error:  3.0890934184476286

In [24]:
print('Mean Squared Error: ' ,metrics.mean_squared_error(y_test,y_pred))

Mean Squared Error:  19.502329943965968

In [25]:
print('Root Mean Squared Error: ' ,math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Root Mean Squared Error:  4.416144239488331

In [26]:
# plt.plot(y_test, color = 'red', label = 'Actual Stock Price')
# plt.plot(y_pred, color = 'green', label = 'Predicted Stock Price')
# plt.title('Goldman Sachs price prediction')
# plt.xlabel('Time')
# plt.ylabel('Stock Price')
# plt.legend()
# plt.show()