In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('SBIN.BO.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-04,130.000000,137.199997,130.000000,136.619995,46.901642,8094740.0
1,2009-05-05,136.600006,138.699997,133.500000,134.365005,46.127506,8298370.0
2,2009-05-06,134.500000,137.595001,131.000000,132.369995,45.442619,9242210.0
3,2009-05-07,133.500000,137.500000,133.035004,136.695007,46.927395,5681380.0
4,2009-05-08,136.600006,137.500000,130.600006,132.514999,45.492397,6516970.0

In [3]:
data.shape

(2639, 7)

In [4]:
data = data.drop('Adj Close',axis=1)
data = data.dropna()

In [5]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [6]:
train_data = data[(data['Date'] >= '2009-05-04') & (data['Date'] <= '2017-04-03')]
test_data = data[(data['Date'] >= '2017-04-04') & (data['Date'] <= '2020-01-04')]

In [7]:
X_train = train_data[['Open','High','Low','Volume']]
y_train= train_data['Close']
X_test = test_data[['Open','High','Low','Volume']]
y_test= test_data['Close']

In [8]:
# from sklearn.model_selection import train_test_split
# X_train , X_test , y_train , y_test = train_test_split(X ,y , random_state = 0)

In [9]:
X_train.shape

(1954, 4)

In [10]:
X_test.shape

(674, 4)

In [11]:
from sklearn. linear_model import LinearRegression
from sklearn .metrics import confusion_matrix, accuracy_score
lr = LinearRegression()

In [12]:
lr.fit(X_train,y_train)

LinearRegression()

In [13]:
lr.coef_

array([-7.05444616e-01,  8.92105377e-01,  8.10725095e-01, -2.12189393e-08])

In [14]:
lr.intercept_

0.3709290983534004

In [15]:
y_pred = lr.predict(X_test)

In [16]:
X_test

            Open        High         Low     Volume
1962  292.850006  298.649994  289.750000  2401978.0
1963  295.700012  297.549988  291.600006  2089915.0
1964  292.100006  294.700012  288.049988  1587699.0
1965  289.399994  290.299988  286.500000  1215367.0
1966  289.799988  294.500000  289.049988  1261467.0
...          ...         ...         ...        ...
2634  337.799988  337.899994  332.450012   860732.0
2635  334.899994  336.299988  332.600006   744106.0
2636  334.500000  335.850006  332.250000   616224.0
2637  334.850006  339.850006  333.399994   882070.0
2638  338.000000  338.000000  332.100006   761014.0

[674 rows x 4 columns]

In [17]:
y_pred.shape

(674,)

In [18]:
dframe=pd.DataFrame(y_test, y_pred)

In [19]:
dfr = pd.DataFrame({'Actual Price':y_test ,'Predicted Price' :y_pred})

In [20]:
dfr

      Actual Price  Predicted Price
1962    296.700012       295.065363
1963    292.700012       293.579989
1964    289.399994       290.709683
1965    289.000000       287.440393
1966    293.700012       292.971433
...            ...              ...
2634    334.250000       333.021452
2635    333.700012       333.763941
2636    334.350006       333.363639
2637    339.299988       337.611838
2638    333.750000       332.687927

[674 rows x 2 columns]

In [21]:
lr.score(X_test,y_test)

0.9947406379340223

In [22]:
import math

In [23]:
print('Mean Absolute Error: ' ,metrics.mean_absolute_error(y_test,y_pred))

Mean Absolute Error:  1.4601999523488287

In [24]:
print('Mean Squared Error: ' ,metrics.mean_squared_error(y_test,y_pred))

Mean Squared Error:  4.4225137955772

In [25]:
print('Root Mean Squared Error: ' ,math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Root Mean Squared Error:  2.10297736449473

In [26]:
# plt.plot(y_test, color = 'red', label = 'Actual Stock Price')
# plt.plot(y_pred, color = 'green', label = 'Predicted Stock Price')
# plt.title('Goldman Sachs price prediction')
# plt.xlabel('Time')
# plt.ylabel('Stock Price')
# plt.legend()
# plt.show()