In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('TATASTEEL.BO.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-04,24.564999,26.400000,24.510000,26.299999,1.994953,47540800.0
1,2009-05-05,26.799999,28.860001,26.500000,28.615000,2.170554,64828750.0
2,2009-05-06,28.650000,29.000000,26.809999,27.064999,2.052981,44272320.0
3,2009-05-07,27.790001,29.900000,27.209999,29.434999,2.232754,78072560.0
4,2009-05-08,30.000000,30.290001,28.070000,28.250000,2.142868,61331990.0

In [3]:
data.shape

(2639, 7)

In [4]:
data = data.drop('Adj Close',axis=1)
data = data.dropna()

In [5]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [6]:
train_data = data[(data['Date'] >= '2009-05-04') & (data['Date'] <= '2017-04-03')]
test_data = data[(data['Date'] >= '2017-04-04') & (data['Date'] <= '2020-01-04')]

In [7]:
X_train = train_data[['Open','High','Low','Volume']]
y_train= train_data['Close']
X_test = test_data[['Open','High','Low','Volume']]
y_test= test_data['Close']

In [8]:
# from sklearn.model_selection import train_test_split
# X_train , X_test , y_train , y_test = train_test_split(X ,y , random_state = 0)

In [9]:
X_train.shape

(1954, 4)

In [10]:
X_test.shape

(677, 4)

In [11]:
from sklearn. linear_model import LinearRegression
from sklearn .metrics import confusion_matrix, accuracy_score
lr = LinearRegression()

In [12]:
lr.fit(X_train,y_train)

LinearRegression()

In [13]:
lr.coef_

array([-6.81846891e-01,  8.98556550e-01,  7.81137820e-01,  1.21150034e-09])

In [14]:
lr.intercept_

-0.01982681983506751

In [15]:
y_pred = lr.predict(X_test)

In [16]:
X_test

           Open       High        Low     Volume
1962  48.599998  49.790001  48.599998  5468290.0
1963  49.314999  50.434998  48.430000  7988870.0
1964  50.244999  50.580002  49.099998  5829410.0
1965  49.610001  49.844997  49.070000  4537090.0
1966  49.580002  49.580002  48.650002  3275080.0
...         ...        ...        ...        ...
2634  47.090000  47.599998  46.505001  5237900.0
2635  47.299999  47.525002  47.020000  4066790.0
2636  47.310001  47.645000  46.500000  6087850.0
2637  47.275002  48.775002  47.215000  8613520.0
2638  48.299999  48.615002  47.950001  5972110.0

[677 rows x 4 columns]

In [17]:
y_pred.shape

(677,)

In [18]:
dframe=pd.DataFrame(y_test, y_pred)

In [19]:
dfr = pd.DataFrame({'Actual Price':y_test ,'Predicted Price' :y_pred})

In [20]:
dfr

      Actual Price  Predicted Price
1962     49.334999        49.551468
1963     50.164997        49.513775
1964     49.290001        49.530697
1965     49.544998        49.278226
1966     48.830002        48.730963
...            ...              ...
2634     47.470001        46.976454
2635     47.200001        47.166745
2636     46.775002        46.864007
2637     48.494999        48.464815
2638     48.375000        48.193092

[677 rows x 2 columns]

In [21]:
lr.score(X_test,y_test)

0.9986577908518354

In [22]:
import math

In [23]:
print('Mean Absolute Error: ' ,metrics.mean_absolute_error(y_test,y_pred))

Mean Absolute Error:  0.2759257976730756

In [24]:
print('Mean Squared Error: ' ,metrics.mean_squared_error(y_test,y_pred))

Mean Squared Error:  0.14228639718014494

In [25]:
print('Root Mean Squared Error: ' ,math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Root Mean Squared Error:  0.3772086918141534

In [26]:
# plt.plot(y_test, color = 'red', label = 'Actual Stock Price')
# plt.plot(y_pred, color = 'green', label = 'Predicted Stock Price')
# plt.title('Goldman Sachs price prediction')
# plt.xlabel('Time')
# plt.ylabel('Stock Price')
# plt.legend()
# plt.show()